:root {
  --prev-nex-display: block;
}

.portfolio__container {
  width: 60vw;
  min-width: 280px;
  height: auto;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project {
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.project img {
  width: 60vw;
  min-width: 280px;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  cursor: zoom-in;
}

.prev,
.next {
  cursor: pointer;
  float: none;
  position: absolute;
  display: var(--prev-nex-display);
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: #25291c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.next {
  right: -31px;
}

.prev {
  left: -31px;
  border-radius: 3px 0 0 3px;
}

.project__description {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  max-height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: justify;
  overflow: hidden;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  font-size: clamp(9px, 1.6vw, 14px);
  z-index: 2;
  transition: 0.3s;
}

.project__description > h3 {
  margin-top: 3px;
}

.down__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
}

.down__button > img {
  height: clamp(3px, 1vw, 8px);
  width: auto;
}

.down__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.active__slide > .project__description {
  white-space: normal;
}

.project__description a {
  color: white;
}

.project__description a:hover {
  color: #e6e49f;
}

.dot__container {
  text-align: center;
  margin-bottom: 30px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.6s ease;
}

.dotInside {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px;
  background: #bbb;
  background: linear-gradient(to left, #bbb 50%, #717171 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border-radius: 50px;
  z-index: 5;
}

.active {
  width: 20px;
}

.dot:hover {
  background-color: #717171;
}

.active .dotInside {
  width: 20px;
  background-position: left bottom;
  transition: background-position 5s linear;
}

.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.modal img {
  width: 65vw;
  height: auto;
  z-index: 6;
  cursor: zoom-out;
  border-radius: 5px;
}

.load {
  margin: 1px;
  cursor: pointer;
}

.load,
svg,
circle {
  width: 16px;
  height: 16px;
}

circle {
  position: absolute;
  fill: #bbb;
  stroke-width: 3px;
  stroke-dasharray: 32;
  stroke-linecap: round;
}

.load circle {
  stroke-dashoffset: 32;
  stroke: #717171;
}

@keyframes percent {
  100% {
    stroke-dashoffset: 0;
  }
}

.rings {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.load_active circle {
  animation: percent 5.5s linear forwards;
}
