@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 5px);
  align-self: center;
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

#top h1,
h5 {
  font-family: "Special Elite", cursive;
}

/* #h1__me::after {
  content: "";
  display: inline-block;
  width: 3px;
  background-color: transparent;
  height: 2.5rem;
  margin-left: 2px;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
} */

#me {
  background-color: rgba(33, 33, 33, 0.5);
  padding: 30px;
  width: 50%;
  text-align: center;
  color: #f2f2f2;
  border: 2px dashed #f2f2f2;
  border-radius: 10px;
  user-select: none;
}

#Header {
  width: 100vw;
  height: 5px;
  background-color: #989c94;
}
